/* styles.css */
body {
    font-family: Arial, sans-serif;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; /* Full screen height */
    overflow: hidden; /* Keeps any part of image that goes out of bounds hidden */
    z-index: 1000; /* Send it to the background */
}

.image-wrapper {
    position: absolute; /* So it fills the container */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Makes the image cover the container, maintaining aspect ratio */
    filter: brightness(0.7); /* Darkens for better contrast */
    transition: opacity 1s ease-in-out;
    opacity: 0; /* Initially set images to invisible */
}

/* Add active class to make images visible */
.image-wrapper.active img {
    opacity: 1; /* Shows the active image */
}

.iterative-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 2s ease-in-out, filter 2s ease-in-out;
    transform: scale(1); /* Default scale */
}
