

div.background {
    width: 50px;
    height: 408.91px;
    left: 0px;
    /* top: 3.5rem; */
    position: absolute;
}

img.headerpic {
    width: 450px;
    height: 450px;
    left: 70px;
    top: 5px;
    position: absolute;
}

img.name-image {
    width: 510px;
    height: 90px;
    left: 480px;
    top: 110px;
    margin-right: 50px;
    position: absolute;
}

.hero-container {
    width: 100%;
    height: 370px;
    position: relative;
}

.body-section{
    background: #e7e7e7;
}

.bus-card-container {
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap */
    justify-content: center; /* Centers the items */
    gap: 20px; /* Adds spacing between the cards */
    padding: 20px;
    /* background-color: #ffffff; */
    /* border-radius: 15px; */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); */
    margin: 20px;
    box-sizing: border-box;
}

.rotate-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Ensure it's in the background */
}

/* Center-align text and set font family for text-container */
.text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.header-container {
    position: relative;
    z-index: 999;   /* Higher than the image slider */
    position: fixed;
    top: 0;    
    width:98%;
    display: flex;  
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    margin-top: 20px;
    
}

.searchbar-container {
    position: relative;
    z-index: 3; /* Higher than the image slider */
}





