/* Footer Styles */


.footer {
    background: linear-gradient(135deg, #43cea2 0%, #185a9d 50%, #43cea2 100%);
    color: #fff; /* White text */
    text-align: center;
    padding: 20px;
    font-family: 'Poppins';
    font-size: 14px;
}

.footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 14px;
}

.footer-icons {
    margin-bottom: 15px;
}

.footer-icons a {
    color: #fff;
    margin: 0 10px;
    font-size: 18px;
}

.footer-icons a:hover {
    color: #1e90ff; /* Change color on hover */
}

.footer-links, .footer-policy {
    margin-bottom: 10px;
}

.footer-copy {
    font-size: 12px;
    color: #ccc;
}

.footer-section.why-book {
    display: flex;
    justify-content: center;
    gap:30px;
    color:#000000;
    background-color: #e7e7e7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2); /* Shadow above */
}

.footer-item {
    flex: 1;
    margin: 0 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
}

.footer-section.why-book .footer-item i {
    font-size: 150px !important; /* Increase font size */
}

.footer-item h4 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-item p {
    font-size: 14px;
    line-height: 1.5;
    text-align: center; /* Center-align the paragraph text */
}
