.bus-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 380px;
    height: 200px;
    box-sizing: border-box;
    transition: transform 0.3s ease;
    font-family: 'Poppins';
    font-size: 14px;
}

.bus-card:hover {
    transform: scale(1.05);
}

.bus-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.route-info h2 {
    margin: 0;
    font-size: 20px;
    color: #2c3e50;
}

.route-info {
    margin-bottom: 1px;
}

.bus-type {
    color: #7f8c8d;
    font-size: 12px;
}

.bus-card-timing {
    display: flex;
    flex-direction: column;
    gap: 1px;
    margin-bottom: 15px;
}

.timing-info {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.departure-time, .arrival-time {
    font-size: 12px;
    color: #2c3e50;
}

.duration {
    text-align: center;
    font-size: 12px;
    color: #bdc3c7;
}

.route-stops {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    text-align: left;
    font-size: 12px;
    color: #bdc3c7; 
}

.route-line {
    width: 30px;
    height: 1px;
    background-color: #bdc3c7;
}

.bus-card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3px;
}

.rating i {
    font-size: 1.2em;
    margin-right: 2px;
}

.price {
    font-size: 18px;
    color: #27ae60;
}

.date {
    font-size: 12px;
    color: #2c3e50;
    margin-bottom: 7px;
}

.show-more-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.show-more-btn {
    padding: 10px 20px;
    background: linear-gradient(135deg, #00897b, #006064);
    color: white;
    border: none;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.show-more-btn:hover {
    background: linear-gradient(135deg, #006064 ,  #00897b,);
}

.hidden-card {
    display: none;
}

.no-buses-message {
    text-align: center;
    padding: 20px;
    font-size: 16px;
    color: #555;
}