body {
    font-family: Arial, sans-serif;
    background-color: #f4f7fa;
    margin: 0;
    padding: 0;
}


/*Style for the back button */
.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 15px;
    background-color: #007bff;
    border-radius: 4px;
    color: white;
    border: none;
    cursor: pointer;
}

h1 {
    text-align: center;
}

.search-container {
    margin: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.search-input {
    border-radius: 5px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.search-input:focus {
    outline: none;
    border-color: black; /* Highlight on focus */
    box-shadow: 0 0 5px rgba(6, 57, 70, 0.5);
}

.search-container .search-button{
    background-color: #007bff;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}
.search-container .search-button-clear{
    background-color: #007bff;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}
.search-container input {
    padding: 8px;
    width: 200px;
}

.fleet-table-container{
    margin: 20px auto;
    width: 90%;
    border-radius: 10px; /* Rounds the corners */
    overflow: hidden; /* Ensures corners stay rounded */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Adds shadow to the table */
    background-color: white; /* Ensures a consistent background */
}

.fleet-table {
    width: 100%;
    border-collapse: separate; /* Necessary for border-radius to apply */
    border-spacing: 0; /* Removes any gaps between cells */
}

.fleet-table td {
    padding: 12px;
    text-align: center;
}

.fleet-table th {
    background-color: #007bff;
    color: white;
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

.fleet-table tr.selected {
    background-color: #d3d3d3; /* Light grey color */
}
.fleet-table tr.hover {
    cursor: pointer;
    background-color: #f1f1f1;
}
.action-buttons {
    display: flex;
    border-radius: 4px;
    justify-content: right;
    gap: 10px;
    margin: 20px;
}

.add-button-container{
    margin: 20px auto; /* Centers the button horizontally */
    width: 90%; /* Matches the table's width */
    display: flex;
    justify-content: flex-end;
}

.action-buttons button {
    padding: 10px 20px;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}
