body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

h2 {
    text-align: center;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #fff;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #333;
    color: #fff;
}

tr:hover {
    background-color: #f1f1f1;
}

button {
    padding: 5px 10px;
    color: white;
    background-color: #007BFF;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

.back-button {
    position: absolute; /* or 'fixed' if you want it to stay fixed on scroll */
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: #007bff; /* Customize background color */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.back-button:hover {
    background-color: #0056b3; /* Darken background on hover */
}
button:hover {
    background-color: #0056b3;
}
