body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    
}

/* Style for the back button */
.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 15px;
    background-color: #007bff;
    border-radius: 4px;
    color: white;
    border: none;
    cursor: pointer;
}

h1 {
    text-align: center;
}

#fleet-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.button {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    margin: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.button:hover {
    background-color: #007bff;
}
