/* Style for the image container */
.image-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 480px;
}

/* Wrapper for the images */
.images-wrapper {
  display: flex;
  transition: transform 1s ease-in-out;
  width: 100%;
  height: 480px;
}

.image {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  object-fit: cover;
  object-position: center;
}

.dark-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

/* Center text in the middle of the image slider */
.text-slider {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 50px;
  font-weight: bold;
  font-family: cursive;
  z-index: 2; /* Ensure it appears above images */
}

.slide {
  position: absolute; /* Ensure slides overlap */
  opacity: 0; /* Initially hidden */
  transition: opacity 1s ease, transform 1s ease; /* Smooth transitions */
  transform: translateY(20px); /* Slightly below center initially */
}

.slide.active {
  opacity: 1; /* Make visible */
  transform: translateY(0); /* Center the text */
}

.text-slider{
  text-align:center;
  position: absolute;
  top:40%;
  left:60%;
  transform:translate(-50%,-50%);
  width:80%
}

.slide2{
  font-size: 30px;
  color: aqua;
}
