<!-- searchBar.html -->
<div class="search-bar-container">
    <div class="input-group">
        <div class="icon"><i class="fas fa-bus"></i></div>
        <input type="text" placeholder="From" class="search-input">
    </div>
    <div class="input-group">
        <div class="icon"><i class="fas fa-bus"></i></div>
        <input type="text" placeholder="To" class="search-input">
    </div>
    <div class="input-group">
        <div class="icon"><i class="fas fa-calendar-alt"></i></div>
        <input type="date" class="search-input">
    </div>
    <div class="input-group">
        <div class="icon"><i class="fas fa-clock"></i></div>
        <input type="time" class="search-input">
    </div>
    <button class="search-button">Search</button>
</div>
