* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to bottom, #a2d8ff, #ffffff); 
}

.container {
    display: flex;
    width: 800px;
    height: 550px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    border: 5px solid #064060;
}

.login-section, .signup-section {
    width: 50%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-section {
    background-color: #fff;
    text-align: center;
}

.logo2 img {
    width: 150px;
    margin-bottom: 10px;
}

.logo2 h2 {
    font-size: 1.5em;
    color: #333;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

p {
    color: #666;
    margin-bottom: 20px;
}

.social-login {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.social-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 1.2em;
    cursor: pointer;
    border: none;
}

.facebook {
    background-color: #3b5998;
}

.google {
    background-color: #db4437;
}

.linkedin {
    background-color: #0077b5;
}

.separator {
    color: #666;
    margin-bottom: 20px;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    font-size: 14px;
}

form input:focus {
    border-color: #6c63ff;
}

.sign-in-btn {
    width: 100%;
    padding: 10px 10px;
    background-color: #064060;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.sign-in-btn:hover {
    background-color: #074096;
}

.signup-section {
    background:#f0f4f8;
    color: #064060;
    text-align: center;
    position: relative;
    border:2px solid #d1d9e6;
}

.close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.sign-up-btn {
    margin-top: 20px;
    padding: 10px 30px;
    background-color: #fff;
    color: #064060;
    font-size: 16px;
    font-weight: bolder;
    border: 3px solid #064060;
    border-radius: 5px;
    cursor: pointer;
}

.sign-up-btn:hover {
    background-color: #f0f0f0;
}
