<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Request Leave</title>
    <link rel="stylesheet" href="RequestLeave.css">
    <link href="https://fonts.googleapis.com/css2?family=ABeeZee&display=swap" rel="stylesheet">
</head>
<body>
    <div class="sidebar">
        <h2 class="sidebar-header">Contact Admin</h2>
        <button class="InformDelays" onclick="window.location.href='InformDelays.html'">Inform Delays</button>
        <button class="RequestLeave" onclick="window.location.href='RequestLeave.html'">Request Leave</button>
        <button class="Notifications" onclick="window.location.href='Notification.html'">Notifications</button>
    </div>
    <div class="detailbox"></div>
</body>
</html>