body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #f4f7fa !important;
}

.back-button {
    display: inline-block;
    margin: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #063946;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    top: 15px;
    left: 15px;
}

.back-button:hover {
    background-color: #052d37;
}

h1 {
    text-align: center;
    margin: 0;
    margin-bottom: 15px;
    margin-top: -50px;
    font-size: 2.5rem;
    color: #063946;
}

.container {
    margin-top: 40px;
}

.notification-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.notification-item {
    border-bottom: 1px solid #ddd;
}

.notification-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    background-color: #C5F2E9;
    border-radius: 5px;
}

.notification-topic {
    margin: 0;
}

.dropdown-arrow {
    font-size: 1.2em;
    transition: transform 0.3s ease;
}

.notification-content {
    display: none;
    padding: 10px;
    background-color: #e0f7fa;
    border-top: 1px solid #ddd;
}

.notification-content p {
    margin: 0;
}

.notification-item.open .dropdown-arrow {
    transform: rotate(180deg);
}

.notification-item.open .notification-content {
    display: block;
}
