body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: beige !important;
    color: #333;
    height: 100vh;
}

/* Back Button */
.back-button {
    display: inline-block;
    margin: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #063946;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.back-button:hover {
    background-color: #052d37;
}

/* Main Title */
h1 {
    text-align: center;
    margin: 0;
    margin-bottom: 15px;
    font-size: 2.5rem;
    color: #063946;
}

/* Container */
.container {
    margin-top: 40px;
}

/* QR Reader Container */
.qr-reader-container {
    margin: 30px auto;
    width: 100%;
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 650px;
    background-color: #fff;
    padding: 60px;
    border-radius: 10px;
}

#qr-reader {
    border: 2px dashed #063946;
    border-radius: 10px;
    padding: 10px;
    background-color: #e9f5f8;
}

/* QR Result */
#qr-result {
    margin-top: 20px;
    font-size: 1.2rem;
    color: #333;
    text-align: center;
    word-wrap: break-word;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .container {
        padding: 15px;
    }

    h1 {
        font-size: 1.5rem;
    }

    .qr-reader-container {
        width: 90%;
    }

    #qr-reader {
        width: 100%;
    }

    #qr-result {
        font-size: 1rem;
    }
}