<!-- Component/FilterComponent/filterComponent.html -->
<div class="filter-container">
    <div class="filter-header">
        <div>Cost</div>
        <div class="filter-icon">&#x1F50D;</div>
    </div>
    <div class="slider-container">
        <input type="range" min="300" max="3000" value="1700" class="slider" id="costRange">
        <span id="sliderValue">Rs. 1700</span>
    </div>
    <div class="switch-container">
        <label for="shortestPath">Shortest Path</label>
        <input type="checkbox" id="shortestPath">
    </div>
</div>
