<!-- Updated navbar.html -->
<nav>
    <div class="navbar">
        <a href="./../pages/Guest user/home.html" class="navbar-item selected">
            <i class="fas fa-bus"></i>
            <span class="text">Search Buses</span>
        </a>
        <a href="#" class="navbar-item">
            <i class="fa fa-users"></i>
            <span class="text">About Us</span>
        </a>
        <a href="#" class="navbar-item">
            <i class="fa fa-phone"></i>
            <span class="text">Contact</span>
        </a>       
    </div>
</nav>
