<!-- Updated navbar.html -->
<nav>
    <div class="navbar">
        
        <a href="./../pages/Guest user/home.html" class="navbar-item selected">
            <i class="fa-solid fa-house" style="color: #ffffff;"></i>
            <span class="text">Home</span>
        </a>

        <a href="#" class="navbar-item">
            <i class="fa-solid fa-book" style="color: #ffffff;"></i>
            <span class="text">Bookings</span>
        </a>

        <a href="#" class="navbar-item">
            <i class="fa-solid fa-bus" style="color: #ffffff;"></i>
            <span class="text">Search</span>
        </a>
        
        <a href="#" class="navbar-item">
            <i class="fa-solid fa-bell" style="color: #ffffff;"></i>
            <span class="text">Notification</span>
        </a>

        <a href="#" class="navbar-item">
            <i class="fa-solid fa-tty" style="color: #ffffff;"></i>
            <span class="text">ContactUs</span>
        </a>

    </div>
</nav>
